html {
    line-height: 1.15;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    /* scroll-behavior: smooth;  */
}
body {
    margin: 0;
    height: 100%;
}
/* css的方式时，为锚点定位增加一个偏移量 */
div .offset {
    position: relative;
    padding-top: 40px;
    margin-top: -40px;
    visibility: hidden;
}
/* rewrite element ui */
